<div class="container">
  <div class="row justify-content-center">
    <div class="cv-card">
      <div class="card mb-4 shadow">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="assets/me.jpg" class="img-fluid rounded-start" alt="My Pic" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna eu tincidunt consectetur, nisi nisl aliquam enim, eget facilisis enim nisl nec elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer euismod, nisi eu.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
